@charset "utf-8";
/* CSS Document */

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-weight: bold;
color: white;
text-decoration: none;
font-family: "Outfit", sans-serif;
}

body{
background-color: ##10314B;
background-repeat: no-repeat;
background-size: cover;

}

/*Encabezado*/
.nuevo{
background-image: url("../IMAGES/encabezado.jpg");
background-position: center;
background-size: cover;
}
.container-fluid{
	height: 180px;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container-fluid .logo img{
height: 330px;
width: auto;
margin: 135px;
padding: 10px;
}

.nav-links{
	background-color: #101526;
	border-radius: 25px;
	margin: 2.5px;
	list-style: none;
	display: flex;
	align-self: flex-end;
	align-items: center;
	padding-right: 15px;
	padding-left: 20px;
}

.img-links{
	list-style: none;
	text-align: right;
	font-style: italic;
	padding: 10px;
	margin: 0px;
}

.nav-links li{
	display: inline-block;
	padding: 0px 0.5px 0px 0px;
}

.nav-links a{
	color: white;
}

.nav-links a:hover{
	color: orange;
}

.dropdown-menu a{
	color: #101526;
}

/*Cuerpo de pagina*/

#cuerpo{
	width: 50%;
}

#contactoup{
	padding: 10px;
	font-style: italic;
	text-align: right;
	color: white;
}

#textos{
	padding: 25px;
	float: left;
}

#flecha{
	padding: 5px;
	margin: 50px 0px 0px 0px;
	float: left;
}

#texto1 p{
	color: white;
	font-size: 15px;
	font-weight: normal;
}

#texto2{
	float: right;
	margin: 50px 35px 20px 0px;
}

#paginacion{
	justify-content: center;
	display: flex;
}
 
#paginacion a{
	color: #F6A320;
}

#paginacion{
	justify-content: center;
	display: flex;
}
 
#paginacion a{
	color: #F6A320;
}

/*pie de pagina*/

.oscuro{
	background-color: #101526;
	width: 100%;
}

.azul{
display: flex;
justify-content: space-between;
padding: 0px;
margin: 0 auto;
text-align: left;
}

.azul a{
font-weight: normal;
color: white;
}

.azul a:hover{
color: #F6A320;
}

i{
font-size: 15px;
font-weight: normal;
}

.blanco{
	float: right;
}

#vacio{
	float: right;
}

.pienav{
	display: flex;
	justify-content: flex-end;
	padding-left: 440px;
	right: 0;
}

#lista1{
	display: flex;
	padding: 10px;
	margin: 5px;
	float: left;
}

#lista2{
	display: flex;
	padding: 10px;
	margin: 5px;
	float: left;
}

#lista3{
	display: flex;
	padding: 10px;
	margin: 5px;
	float: left;
}

.redes{
	margin-left: 25px;
}

.amarillo{
	background-color: #F6A320;
	text-align: center;
	justify-content: center;
	height: 37px;
}

.amarillo p{
	color: #101526;
	font-weight: normal;
}
